.drop{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor:pointer;
}

.drop:hover, .drop:focus{
	background-color: #006400;
}
.inout{
	position: relative;
	display: inline-block;
}
.drop-content{
	display: none;   /*<!--this  is used for listing logout in button-->*/
	position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a {
    color: black;
    padding: 12px 16px;
    display:block;
    text-decoration: none;
    }
 .inout a:hover {background-color: #ddd;}
 .show {
 	display:block;
 }
